/***
  GENERAL
***/
  body {

  }
/***
  GENERAL END
***/
@media screen and (min-width:0px){
  label{
    color: black;
  }
  button{
    color :black;
  }
}
@media screen and (min-width:300px){
  label{
    color: green;
  }
  button{
    color: green;
  }
}
@media screen and (min-width:600px){
  label{
    color: red;
  }
  button{
    color: red;
  }
}
