/*
  STANDARD
*/
/*
  MOBILE
*/
/*****
@media screen and (min-width:480px) {
  label {
    color:red;
  }
}
@media screen and (min-width:768px) and (max-width:1024px) {
  label {
    color:yellow;
  }
}
@media screen and (min-width:1024px) {
  label {
    color:blue;
    font-size:mideum;
  }
}@media screen and (max-width:1440px) {
  label {
    color:green;
    font-size: large;
  }
}
*****/
